{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered width-75">
  <h1 class="very-important">{{ player }}</h1>
  {% for brawl in brawlers %}
  <div class="bs-container" style="{{ bg }}">
    <figure class="image is-64x64 is-flex">
      <img class="brawl" src="{{ brawl['img_url'] }}" alt="{{ brawl['name'] }}">
      <figure class="image is-24x24 is-flex">
        <img src="https://cdn.brawlify.com/icon/trophy.png" alt="Trophies">
        <span>{{ brawl['trophies'] }}</span>
      </figure>
    </figure>
    <div class="separator" style="text-align:left;">
      <p>Siguiente meta: <b>{{ brawl['next_goal'] }}</b></p>
      <p>Necesitas ganar <b>{{ brawl['remaining_wins'] }}</b> partidas para llegar a <b>{{ brawl['next_step'] }}</b> trofeos</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
