{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered width-75">
  {% for brawl in brawlers %}
  <div class="block" style="{{ bg }}">
    <figure class="image is-64x64 is-flex">
      <img src="{{ brawl['img_url'] }}" alt="{{ brawl['name'] }}">
      <figure class="image is-24x24 is-flex">
        <img src="https://cdn.brawlify.com/icon/trophy.png" alt="Trophies">
        <span>{{ brawl['trophies'] }}</span>
      </figure>
    </figure>
    <div class="separator" style="text-align:left;">
      <p class="subtitle">Siguiente meta: <b>{{ brawl['next_goal'] }}</b></p>
      <p>Necesitas ganar {{ brawl['remaining_wins'] }} partidas para llegar a {{ brawl['next_step'] }} trofeos</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
