{% extends "base.html" %}

{% block content %}

<div class="container has-text-centered">
  <h1 class="title">
    <img src="https://img1.freepng.es/20190415/hzw/kisspng-compatible-games-5cb549329ff5c6.9559835315553846266552.jpg" alt="bs-icon">
    Brawl Stars Trophies
  </h1>
  <div class="section small-wide">
    Para obtener información sobre qué brawlers deberías subir ingresa tu tag
    <input id="bs-tag" type="text" class="input" placeholder="#Tu_Tag">
  </div>
  <button class="button" onclick="get_trophies()">Aceptar</button>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
  var get_trophies = ()=>{
    tag = document.getElementById("bs-tag").value
    console.log(tag)
  }
</script>

{% endblock %}
