body {
  padding: 10px;
}
.has-margin-top { margin-top:5px; }

.small-wide { max-width:400px; }
.width-75 { max-width:75%; }

.separator {
  display: block;
  margin: 25px auto;
  padding-left: 10px;
}

.important {
  display: inline-flex;
  font-weight: 600;
  margin: 5px 5px;
}

.very-important {
  color: black;
  font-weight: 700;
  font-size: 3em;
}

.title {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-weight: 700;
  font-size: 2em;
}

#over figure {
  margin: auto;
  display: inline-block;
}

.is-flex {
  display: inline-flex;
  vertical-align: middle;
}

.bs-container {
  border: .7px solid black;
  border-radius: .375em;
  color: black;
  margin: 15px auto;
  padding-bottom: 5px;
}

.brawl {
  border-top-left-radius: .375em;
  margin: 0px 10px 0px 0px;
}

.has-padding-top { padding-top: 10px; }
