.has-margin-top { margin-top:5px; }

.small-wide { max-width:400px; }

.separator {
  display: block;
  margin: 25px auto;
}

.important {
  display: inline-flex;
  font-weight: 600;
  margin: 5px 5px;
}

.very-important {
  color: black;
  font-weight: 700;
  font-size: 3em;
}

.title {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-weight: 700;
  font-size: 2em;
}

#over figure {
  margin: auto;
  display: inline-block;
}

.is-flex {
  display: inline-flex;
}
