{% extends "base.html" %}
{% block content %}
<div class="container has-text-centered">
  <h1 class="title">Token asignado:</h1>
  <div class="container">
    <div class="container">
      <h1 class="has-text-centered">{{ token['key'] }}</h1>
    </div>
    <br class="separator">
    <div class="container">
      <h2 class="has-text-centered">Fecha de creación:</h2>
      <h3 class="has-text-centered">{{ token['created_at'] }}</h3>
    </div>
  </div>
  <div class="container has-text-centered">
    <button class="button submit" id="reload" type="button">Generar nuevo</button>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  const reload = document.getElementByID('reload')
  reload.addEventListener('click', _ => {
    location.reload()
  }
</script>
{% endblock %}
